<div class="profile"> <a href="{% url "profile" %}">Продавец: {{gamer.name}}. Табельный номер {{gamer.code}}</a></div>
<h1>
    {% if game.level_history.level.index != -1 %} Уровень
    "{{game.level_history.level.name}}"{% endif %}. Покупатель {# ----------- #}
    {{ game.buyer.number }} из {{ game.level_history.level.buyer_count }}
</h1>

<h2></h2>
<div class="row">
    <div id="cashe_reader_screen">
        {% include "cash_register/screen.html" %}
    </div>
</div>
<div class="row" id="cashes">{% include "cash_register/cashes.html" %}</div>
<div class="row"></div>
<div id="debug">{% include "cash_register/debug.html" %}</div>
