{% with game.buyer.cart as cart %} {% if game.screen.state == "cost" %}
<div class="cart_amount">Стоимость: {{game.screen.product_cost}} рублей</div>
<table>
    {% for cart_item in cart.items %}
    <tr>
        <td>🛒{{cart_item.product.name}}</td>
        <td class="product_cost">
            {{cart_item.count}}&nbsp;⨯&nbsp;{{cart_item.product.price}}&nbsp;=&nbsp;{{cart_item.amount}}
        </td>
    </tr>
    {% endfor %}
</table>
{% elif game.screen.state == "cash" %}
<div class="cart_amount">Стоимость: {{game.screen.product_cost}} рублей</div>
<div class="cash_amount">Наличные: {{game.screen.cash_amount}} рублей</div>
<div class="change">Сдача: {{game.screen.change}} рублей</div>
{% else %} Нужно просканировать товары {% endif %} {% endwith %}
