<table class="cash">
    {% for money in cash_state.cash %}
    <tr>
        <td class="nominal">{{money.nominal}}</td>
        <td class="operation">&nbsp;⨯&nbsp;</td>
        <td class="count">{{money.count}}</td>
        {% if cash_state.left %}
        <td>
            <button hx-post="{% url 'move_cash' %}"
                hx-vals='{ "nominal":{{money.nominal}}, "cash_src":"{{cash_src}}", "cash_dst":"{{left_cash}}" }'
            >⬅</button>
        </td>
        {% endif %}
        {% if cash_state.right %}
        <td>
            <button
                hx-post="{% url 'move_cash' %}"
                hx-vals='{ "nominal":{{money.nominal}}, "cash_src":"{{cash_src}}", "cash_dst":"{{right_cash}}" }'
            >➡</button>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
